<div *ngIf="methodsModels === null; else pluginContent">
  <div class="d-flex align-items-center">
    <strong>Loading...</strong>
    <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div>
  </div>
</div>

<ng-template #pluginContent>

  <div *ngIf="methodsModels.length === 0; else content">
    <h1>Sem Exemplos no Dataset</h1>
  </div>

  <ng-template #content>
    <div *ngFor="let method of methodsModels; let i = index">
      <div class="accordion" id="{{'accordionExample' + i}}">
        <div class="card">
          <div class="card-header" id="{{'heading' + i}}">
            <h2 class="mb-0">
              <button class="btn btn-link"
                      type="button"
                      data-toggle="collapse"
                      [attr.data-target]="'#collapse' + i"
                      aria-expanded="true"
                      [attr.data-controls]="'collapse' + i"
              >
                {{ method.method_name }}
              </button>
            </h2>
          </div>

          <div id="{{'collapse' + i}}"
               class="collapse"
               [attr.aria-labelledby]="'heading' + i"
               [attr.data-parent]="'#accordionExample' + i">
            <div class="card-body">
              <pre>
                <code
                  [highlight]="method.method_code"
                  [languages]="['java']"
                ></code>
              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
